.card {
    margin: 1% 10% 0 10%;
    border-color: darkgray;
}

.alert {
    margin: 5px 2% 0 2%;
}

.list-group {
    max-height: 520px;
    overflow-y: auto;
}

.list-group-item {
    margin: 5px 0 5px 0;
    border-color: darkgray;
    color: whitesmoke;
}