@{
    ViewData["Title"] = "Contact";
}
@section Styles{
    <link rel="stylesheet" href="~/css/sites/contact.css" />
}

<div class="card border-secondary mb-3">
    <div class="card-body">
        <h5 class="card-title">Contact</h5>
        <hr>
        <address>
            Michael B.<br />
            Katowice, Silesia Voivodeship<br />
            Phone: 123-456-789
        </address>

        <address>
            <strong>GitHub:</strong> <a href="https://github.com/MadTiger2409">github.com/MadTiger2409</a><br />
            <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/micha%C5%82-b-4292a6163/">linkedin.com/in/michał-b</a>
        </address>
    </div>
</div>
