@model IEnumerable<SimpleBlog.Data.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <link rel="stylesheet" href="~/css/sites/index.css" />
}

@if (Model != null && Model.Any())
{
    foreach (var post in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@post.CreatedAt</h6>
                <p class="card-text">@post.Description</p>
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
    }
}
else
{
        <div class="alert alert-primary" role="alert">
            No posts here? There will be some soon :)
        </div>
}