
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/sites/messages.css" />
}

<div class="card border-secondary mb-3">
    <div class="card-body bg-dark">
        <h5 class="card-title">Messages</h5>
        <hr>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-dark">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-dark">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-dark">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-dark">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-dark">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
        </div>
    </div>
</div>