@model IEnumerable<SimpleBlog.Data.Models.Message>
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/sites/messages.css" />
}

<div class="card border-secondary mb-3">
    <div class="card-body bg-dark">
        <h5 class="card-title">Messages</h5>
        <hr>

        @if (Model != null && Model.Any())
        {
            <div class="list-group">

                @foreach (var message in Model)
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-dark">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@message.Email</h5>
                            <small class="text-muted">@message.CreatedAt.ToShortDateString()</small>
                        </div>
                        <p class="mb-1">@message.Text</p>
                        <small class="text-muted">@message.Name</small>
                    </a>
                }

            </div>
        }
        else
        {
            <p class="card-text">You don't have any messages</p>
        }
        </div>
</div>